html, 
body {
    font-family: roboto ,arial;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
  padding-right: 400px;
  padding-left: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  padding-bottom: 100px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.first, li {
  color: #E5E7EB;
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
}

.top-first-div {
  background-color: #1F2937;
  display: flex;
  flex-flow: row wrap;
  column-gap: 89px;
}

.first-div {
  display: flex;
  flex-flow: column wrap;
  padding-left: 550px;
  padding-bottom: 200px;
  align-self: flex-start;
}

.first-div .title {
  margin-top: 0;
  font-size: 48px;
  color: #F9FAF8;
  margin-bottom: 0;
}

.first-div .button {
  align-self: flex-start;
  background-color: #3852F6;
  border: none;
  color: white;
  padding: 8px 35px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  font-family: roboto ,arial;
}

.secondary-text {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  color: #E5E7EB;
}

.top-first-div .image-container {
  background-color: #5f7da7;
  display: flex;
  padding: 100px;
  align-self: flex-start;
}
