html, 
body {
    font-family: roboto ,arial;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
  padding-right: 400px;
  padding-left: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  padding-bottom: 100px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.first, li {
  color: #E5E7EB;
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
}

.top-first-div {
  background-color: #1F2937;
  display: flex;
  flex-flow: row wrap;
  column-gap: 89px;
}

.first-div {
  display: flex;
  flex-flow: column wrap;
  padding-left: 550px;
  padding-bottom: 150px;
  align-self: flex-start;
}

.first-div .title {
  margin-top: 0;
  font-size: 48px;
  color: #F9FAF8;
  margin-bottom: 0;
}

.first-div .button {
  align-self: flex-start;
  background-color: #3852F6;
  border: none;
  color: white;
  padding: 8px 35px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  font-family: roboto ,arial;
}

.secondary-text {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  color: #E5E7EB;
}

.top-first-div .image-container {
  background-color: #5f7da7;
  display: flex;
  padding: 100px;
  align-self: flex-start;
}

.second-div .title {
  text-align: center;
}

.images-row {
  padding-left: 400px;
  padding-right: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 10px;
}

.quote {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;

}

.quote .author {
  margin-top: 0;
  margin-bottom: 120px;
  padding-left: 500px;
  font-size: 24px;
  font-weight: bold;
}

.quote p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
  margin-top: 120px;
  margin-bottom: 0;
}

.call {
  margin-top: 75px;
  margin-bottom: 120px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #3852F6;
  display: flex;
  gap: 175px;
}

.call .text {
  display: flex;
  flex-direction: column;
} 

.call .title {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: -10px;
}

.call .info {
  color: #E5E7EB;
}

.call .button {
  display: flex;
  align-self: center;
  border: 3px solid white;
  border-radius: 3px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  background-color: transparent;
  font-weight: bolder;
  color: white;
}

footer p {
  background-color: #1F2937;
  margin-bottom: 0;
  text-align: center;
  padding: 30px;
  color: #E5E7EB;
}
