html {
  font-family: roboto ,arial;
}

html, 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
  padding-right: 400px;
  padding-left: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.first, li {
  color: #E5E7EB;
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
}

.first-div {
  display: flex;
  flex-flow: column wrap;
  padding-left: 600px;
  background-color: #1F2937;
}

.first-div .title {
  padding-top: 100px;
  margin-top: 0;
  font-size: 48px;
  color: #F9FAF8;
}

.first-div .button {
  align-self: flex-start;
}

.first-div, .secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}
